<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!-- custom css link -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="header" data-header>
        <div class="container">

            <div class="overlay" data-overlay></div>

            <a href="/" class="logo">
                <div class="logo-name">CarWallah</div>
            </a>

            <div class="explore-box-search">
                <div class="search-box">
                    <span class="material-symbols-outlined">search</span>
                    <input
                        type="text"
                        placeholder="Search Here..."
                        class="search-input"
                        id="searchInput"
                    />
                </div>
            </div>
            <button id="searchButton">Search</button>
            
            

            <div class="header-actions">
                <div class="login-btn">
                    <button class="btn" style="width: 5rem;">Login</button>
                </div>
                <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                </button>

            </div>

        </div>
    </header>

    <main>  
        <article style="margin-top: 5rem;">    
            <section class="section featured-car" id="featured-car">
                <div class="container">
                    <ul class="featured-car-list">
                        <% cars.forEach(function(car) { %>
                            <li>
                                <a href="#">
                                    <div class="featured-car-card">
                                        <figure class="card-banner">
                                            <div class="car-rating-box">
                                                <%= car.rating %> <ion-icon name="star" class="car-rating-icon"></ion-icon>
                                            </div>
                                            <img src="/assets/images/<%=car.imagecode%>.jpg" alt="<%= car.imagecode %> <%= car.year_man %>" loading="lazy" width="430" height="293" class="w-100">
    
                                            <div class="car-color-box">
                                              <% /* eslint-disable */ %>
                                              <% car.colors.split(',').forEach(function(color) { %>
                                                <% const cssColor = color.trim().toLowerCase(); %>
                                                <span class="car-colors" style="background-color: <%= cssColor %>;"></span>
                                            <% }); %>
                                            <% /* eslint-enable */ %>
                                            
                                            </div>
                                        </figure>
    
                                        <div class="card-content">
    
                                            <div class="card-title-wrapper">
                                                <h3 class="h3 card-title">
                                                    <a href="#"><%= car.car_name %></a>
                                                </h3>
    
                                                <data class="year" value="<%= car.year_man %>"><%= car.year_man %></data>
                                            </div>
    
                                            <ul class="card-list">
                                                <li class="card-list-item">
                                                    <ion-icon name="speedometer-outline"></ion-icon>
                                                    <span class="card-item-text"><%= car.topspeed %> kmph</span>
                                                </li>
                                                <li class="card-list-item">
                                                    <ion-icon name="flash-outline"></ion-icon>
                                                    <span class="card-item-text"><%= car.capacity %> cc</span>
                                                </li>
                                                <li class="card-list-item">
                                                    <i class="fa-solid fa-gas-pump"></i>
                                                    <span class="card-item-text"><%= car.mileage %> kmpl</span>
                                                </li>
                                                <li class="card-list-item">
                                                    <ion-icon name="cog-outline"></ion-icon>
                                                    <span class="card-item-text">Mannual</span>
                                                </li>
                                            </ul>
    
                                            <div class="card-price-wrapper">
                                                <p class="card-price">
                                                    Rs. <strong><%= car.price %></strong>
                                                </p>
                                                <button class="btn fav-btn" aria-label="Add to favourite list">
                                                    <ion-icon name="heart-outline"></ion-icon>
                                                </button>
                                                <button class="btn">Book now</button>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </a>
                            </li>

                        <% }); %>
                    </ul>

                </div>
            </section>
        </article>
    </main>

<!-- footer section starts here -->
<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <a href="/HTML/index.html"><img src="/assets/images/white-logo.png" alt="logo" class="white-logo"></a>
            </div>
            <!-- column 1 -->
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">affiliate Program</a></li>
                </ul>
            </div>

            <!-- column 2 -->
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Enquiry</a></li>
                    <li><a href="#">Booking Status</a></li>
                    <li><a href="#">Notifications</a></li>
                </ul>
            </div>

            <!-- column 3 -->
            <div class="footer-col">
                <h4>Brands</h4>
                <ul>
                    <li><a href="#">Audi</a></li>
                    <li><a href="#">BMW</a></li>
                    <li><a href="#">Mercedes</a></li>
                    <li><a href="#">Lamborgini</a></li>
                    <li><a href="#">Jaguar</a></li>
                    <li><a href="#">Nissan</a></li>
                </ul>
            </div>

            <!-- column 4 -->
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-contact-row">
            <div class="footer-contact-no footer-contact-row-ele"><i class="fa-solid fa-phone"></i> +91-7739226540</div>
            <div class="footer-contact-email footer-contact-row-ele"><i class="fa-solid fa-envelope"></i>carWallah  @contact.in</div>
            <div class="footer-copyright footer-contact-row-ele"><i class="fa-solid fa-copyright"></i>Copyright 2023 - 2024</div>
        </div>
    </div>
</footer>

    <!-- custom js link -->
    <script src="./assets/js/script.js"></script>

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        document.getElementById('searchButton').addEventListener('click', function() {
            var searchInput = document.getElementById('searchInput').value;
            if (searchInput) {
                fetch('/search', {
                    method: 'POST', // or 'GET'
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ query: searchInput })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Handle the response from the backend here
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                alert('Please enter a search term');
            }
        });
        </script>
                
</body>
</html>
